

#intro2{
  background: linear-gradient(#1F1F26 58%, #ffffff 10%);
}

#intro2 .intro2_wrap .intro2_content .intro2_content_right{
  margin-top: 4%;
}


#intro2 .intro2_wrap .intro2_content .intro2_content_right h5{
  font-size: 1.1em;
}

#intro2 .intro2_wrap .intro2_content .intro2_content_right p{
  font-size: 0.9em;
}

    
/*데탑*/
@media screen and (max-width:1440px) {
}



/*노트북*/
  @media screen and (max-width:1024px) {
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
    .home_br{
      display: block;
    }

    #intro2 .intro2_wrap .intro2_content .intro2_content_right{
      margin-top: 6%;
    }

    #intro2{
      background: linear-gradient(#1F1F26 77%, #ffffff 10%);
    }

}



/*모바일*/

@media screen and (max-width:767px) {
  #intro .intro1_wrap p br{
    display: none;
  }

  #intro2{
    background: linear-gradient(#1F1F26 75.5%, #ffffff 10%);
  }

  #intro2 .intro2_wrap .intro2_content .intro2_content_right{
    margin-top: 10%;
  }

}


/*모바일2*/


@media screen and (max-width:576px) {
  .home_wrap .home_content .home_txt p br{
    display: none;
  }

  #intro2{
    background: linear-gradient(#1F1F26 72.5%, #ffffff 10%);
  }


  #intro2 .intro2_wrap .intro2_content .intro2_content_right h5 br{
    display: none;
  }
}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
