@font-face {
  font-family: 'EF_watermelonSalad';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

address {
  font-style: normal;
}

body {
  font-family: 'EF_watermelonSalad';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}




h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}

br.mob{
  display: none;
}


@media (min-width:1521px) {
  .container {
    max-width: 1521px;
  }
}

/*헤더*/

header{
  width: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 999;

}

.hd_all {
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* padding: 0 80px; */
  margin: 0 auto;
}

.hd_all a{
  text-decoration: none;
  color: #fff;
}

hgroup{
  width: 40%;
}

hgroup a{
  width: 100%;
}


hgroup a h1{
  width: 100%;
}

hgroup a h1 img{
  max-width: 10%;
}

hgroup a h1.menu_style img:hover{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.2) 30%, #000 50%, rgba(0,0,0,.2) 70%);
  mask-image :linear-gradient(-75deg, rgba(0,0,0,.2) 30%, #000 50%, rgba(0,0,0,.2) 70%);
  -webkit-mask-size: 200%;
  mask-size: 200%;
  animation: Shine 1.5s infinite;
  transition: all 0.1s;
}

@-webkit-keyframes Shine{
  from{
    -webkit-mask-position: 150%;
  }
  to{
    -webkit-mask-position:-50%;
  }
}

@keyframes Shine{
  from{
    -webkit-mask-position: 150%;
  }
  to{
    -webkit-mask-position:-50%;
  }
}

.pc_menu{
  width: 50%;
}

.pc_menu ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0 !important;
}

.pc_menu ul.menu_style a:hover{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.2) 30%, #000 50%, rgba(0,0,0,.2) 70%);
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.2) 30%, #000 50%, rgba(0,0,0,.2) 70%);
  -webkit-mask-size: 200%;
  mask-size: 200%;
  animation: shine 1.5s infinite;
  transition: all 0.1s;
}

@-webkit-keyframes shine{
  from{
    -webkit-mask-position: 150%;
  }
  to{
    -webkit-mask-position:-50%;
  }
}

@keyframes shine{
  from{
    -webkit-mask-position: 150%;
  }
  to{
    -webkit-mask-position:-50%;
  }
}

.pc_menu ul li.lang{
  border-radius: 50%;
  background-image: linear-gradient(to right, #F2ACC0, #ED7A88);
  padding: 0.5%;
}

.pc_menu ul li.lang:hover{
  box-shadow: 0 0 10px #fff;
}

.pc_menu ul li a{
  font-weight: 600;
}


.m_menu_button {
  width: 40px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 21px;
  z-index: 10;
  display: none;
}

.m_menu_button a.menu-trigger, .m_menu_button a.menu-trigger span {
  display: inline-block;
  transition: all .4s;
}

.m_menu_button a.menu-trigger{
  position: relative;
  width: 40px;
  height: 30px;
}

.m_menu_button a.menu-trigger span{
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius:4px;
}

.m_menu_button a.menu-trigger span:nth-child(1){
  top:0;
}

.m_menu_button a.menu-trigger span:nth-child(2){
  top:14px;
}

.m_menu_button a.menu-trigger span:nth-child(3){
  bottom:0;
}

.menu-trigger.active-1 span:nth-child(1) {
  -webkit-transform: translateY (13px) rotate (-45deg);
  transform: translateY(13px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-child(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(45deg);
  transform: translateY(-13px) rotate(45deg);
}

.m_menu{
  position: absolute;
  right: 0;
  top: 70px;
  width: 100%;
  background-color: #000000d7;
  text-align: right;
  border-radius: 0 0 0 100px;
  display: none;
}

.m_menu ul{
  width: 100%;
  padding: 10%;
  margin-bottom: 0 !important;
}

.m_menu ul li{
  width: 100%;
  margin-bottom: 15%;
}

.m_menu ul li:last-child{
  margin-bottom: 0 !important;
}

.m_menu ul li a{
  font-size: 1.2em;
  font-weight: 600;
}


.scroll_bar{
  background-color: #000;
}


/*home*/

#home{
  width: 100%;
  height: 1080px;
  position: relative;
}

.main_video{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.main_video video{
  height: 100%;
}


.home_wrap{
  width: 100%;
  height: 60%;
  color: #fff;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,.4);
}


.home_wrap .home_content{
  width: 100%;
  padding: 5% 0;
}

.home_wrap .home_content .home_txt{
  width: 100%;
}

.home_wrap .home_content .home_txt h2{
  font-size: 5.5em;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.home_wrap .home_content .home_txt p{
  line-height: 1.5;
}

.home_wrap .home_content .home_txt .home_btn{
  width: 100%;
}



.home_wrap .home_content .home_txt .home_btn a{
  width: 15%;
  margin-right: 2%;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(to right, #F2ACC0 20%, #ed7a88 50%);
  background-size: 200% auto;
  border-radius: 50px;
  text-align: center;
  font-weight: 500;
  transition: all .5s;
  padding: 1% 4%;
}

.home_wrap .home_content .home_txt .home_btn a:hover{
  box-shadow: 0 0 10px 0 #ED7A88 inset, 0 0 10px 4px #F2ACC0;
  background: #fff;
  color: #ED7A88;
  font-weight: 600;
}

.home_wrap .home_content .home_txt .home_btn a:last-child{
  margin-right: 0 !important;
}

.home_br{
  display: none;
}

/*intro*/

#intro {
  width: 100%;
  background-color: #1F1F26;
  color: #fff;
  padding: 100px 0;
}

#intro .intro1_wrap{
  width: 100%;
  text-align: center;
}

#intro .intro1_wrap h3{
  margin-bottom: 100px;
}

#intro .intro1_wrap p{
  line-height: 3;
  position: relative;
}

#intro .intro1_wrap p::before{
  position: absolute;
  left: 27%;
  top: -20%;
  content: "";
  background: url(../img/quotationMarks1.png) no-repeat left center;
  background-size: contain;
  width: 30px;
  height: 30px;
}

#intro .intro1_wrap p::after{
  position: absolute;
  right: 23%;
  bottom: 0%;
  content: "";
  background: url(../img/quotationMarks2.png) no-repeat left center;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.intro_br{
  display: none;
}

.intro_br2{
  display: none;
}

/*intro2*/

#intro2{
  width: 100%;
  padding: 100px 0;
  background: linear-gradient(#1F1F26 60%, #ffffff 10%);
}

#intro2 .intro2_wrap {
  width: 100%;
}

#intro2 .intro2_wrap h3{
  text-align: center;
  color: #fff;
} 

#intro2 .intro2_wrap .intro2_content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

#intro2 .intro2_wrap .intro2_content .intro2_content_left{
  width: 55%;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 6px 24px rgba(0,0,0,.1);
  padding: 5%;
}

#intro2 .intro2_wrap .intro2_content .intro2_content_left img{
  max-width: 100%;
}

#intro2 .intro2_wrap .intro2_mo{
  display: none;
}

#intro2 .intro2_wrap .intro2_content .intro2_content_right {
  width: 40%;
  margin-top: 8%;
}

#intro2 .intro2_wrap .intro2_content .intro2_content_right h5{
  color: #fff;
  margin-bottom: 10%;
  font-weight: 500;
}

#intro2 .intro2_wrap .intro2_content .intro2_content_right p {
  color: #383838;
  line-height: 1.5;
}



/* intro3 */
#intro3 {
  padding: 100px 0;
  overflow: hidden;
}

#intro3 .intro3_cont h3 {
  margin-bottom: 80px;
}

#intro3 .intro3_cont .int3_cont_area .int3_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#intro3 .intro3_cont .int3_cont_area .int3_con .int3_txt {
  width: 50%;
  position: relative;
  padding: 5% 0;
}

#intro3 .intro3_cont .int3_cont_area .int3_con .int3_txt::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eee;
}

#intro3 .intro3_cont .int3_cont_area .int3_con .int3_txt dl {
  margin-bottom: 5%;
  line-height: 2;
}

#intro3 .intro3_cont .int3_cont_area .int3_con .int3_txt dl:last-child {
  margin-bottom: 0;
}

#intro3 .intro3_cont .int3_cont_area .int3_con .int3_txt dl dt {
  color: #EE7B89;
}

#intro3 .intro3_cont .int3_cont_area .int3_con .int3_img {
  width: 50%;

}

#intro3 .intro3_cont .int3_cont_area .int3_con .int3_img img {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
}


/* coin */

#coin {
  padding: 100px 0;
  position: relative;
}

#coin::before {
  content: "";
  display: block;
  background-color: #1F1F26;
  width: 90%;
  height: 96%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 255px 0px 0px;
}

#coin .coin_area {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#coin .coin_area .coin_right {
  width: 50%;
}

#coin .coin_area .coin_right h3 {
  margin-bottom: 8%;
}

#coin .coin_area .coin_right article {
  line-height: 1.8;
  margin-bottom: 3%;
  font-weight: 600;
}

#coin .coin_area .coin_right ul li {
  line-height: 2;
}

#coin .coin_area .coin_left {
  width: 50%;  
}

#coin .coin_area .coin_left img {
  max-width: 90%;
  display: flex;
  margin: 0 auto;
}

/* roadmap */
#roadmap {
  padding: 100px 0;
  background-color: #F9F8FD;
}

#roadmap .road_area h3 {
  text-align: center;
  margin-bottom: 80px;
}

#roadmap .road_area .road_box {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#roadmap .road_area .road_box article {
  border-radius: 54px;
  width: 32%;
  height: 442px;
  background: url(../img/road_con_bg.jpeg) no-repeat center center;
  background-size: cover;
  position: relative;
  transition: all .3s;
}

#roadmap .road_area .road_box article:nth-child(2) {
  background-position: left;
}

#roadmap .road_area .road_box article:nth-child(3) {
  background-position: right;
}

#roadmap .road_area .road_box article:hover {
  margin-top: -2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all .5s;
}

#roadmap .road_area .road_box article h4 img{
  margin-right: 3%;
}
#roadmap .road_area .road_box article .txt_box {
  box-sizing: border-box;
  background: #fff;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 54px;
  padding: 10% 8%;
}

#roadmap .road_area .road_box article .txt_box ul {
  line-height: 3;
}

#roadmap .road_area .road_box article .txt_box ul li{
  color:#737373;
}

#roadmap .road_area .road_box article .txt_box ul li span{
  margin-right: 10px;
  font-weight: 600;
}


/* contact */
#contact {
  background-color: #F9F8FD;
  padding: 100px 0;
}

#contact h3 {
  text-align: center;
}

#contact .contact_area .form_area {
  background-color: #1F1F26;
  padding: 5%;
}

#contact .contact_area .form_area form {
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

#contact input::placeholder,
textarea::placeholder {
  color: #fff;
}

#contact .contact_area form input,
#contact .contact_area form textarea {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 0 0 0 20px;
  height: 60px;
  line-height: 60px;
  color: #fff;
}

#contact .contact_area form input.email {
  margin-top: -1px !important;
}

#contact .contact_area form textarea::-webkit-scrollbar {
  display: none;
}

#contact .contact_area form input {
  width: 15%;
  transition: all 0.3s;
}

#contact .contact_area form textarea {
  width: 65%;
  margin: auto 30px;
  border: none;
}

#contact .contact_area form input.send {
  background: linear-gradient(270deg, #ED7A88 40.22%, #F2ACC0 87.64%);
  border-radius: 51px;
  font-size: 20px;
  color: #fff;
  padding: 0;

}

#contact .contact_area form input.send:hover {
  box-shadow: 0 0 10px 0 #ED7A88 inset, 0 0 10px 4px #F2ACC0;
  background: #fff;
  color: #ED7A88;
  font-weight: 600;
  border: 1px solid #ED7A88;
}

/* footer */
footer {
  padding: 50px 0;
  background-color: #1F1F26;
  color: #fff;
}

footer p {
  text-align: center;
  color: #4E4E4E;
}

footer .footer_area {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2%;
}

footer h4 {
  margin-bottom: 24px;
}

footer button {
  color: #fff;
}

footer .footer_area ul.inc{
  width: 40%;
}
footer .footer_area .white_pp,
footer .footer_area .sns {
  width: 30%;
}

footer .footer_area ul.inc {
  line-height: 3;
}

footer .footer_area ul.inc li {
  font-size: 14px;
}

footer .footer_area ul.inc li span{
  font-size: 12px;
  color: #a7a7a7;
}
footer .footer_area .sns i {
  font-size: 2rem;
  border-radius: 50%;
}

footer .footer_area .white_pp button {
  display: flex;
  background: linear-gradient(270deg, #ED7A88 40.22%, #F2ACC0 87.64%);
  border-radius: 51px;
  font-size: 20px;
  color: #fff;
  padding: 8px 26px;
  text-align: center;
  box-sizing: border-box;
  transition: all .3s;
  font-size: 12px;
}

footer .footer_area .white_pp button:hover {
  box-shadow: 0 0 10px 0 #ED7A88 inset, 0 0 10px 4px #F2ACC0;
  background: #fff;
  color: #ED7A88;
  font-weight: 600;
}

footer .footer_area .white_pp button:last-child {
  margin-top: 3%;
}

footer .footer_area .sns {
  text-align: right;
}

footer .footer_area .sns i {
  font-size: 3rem;
  transition: all .3s;
}

footer .footer_area .sns button:last-child {
  margin-left: 8%;
}

footer .footer_area .sns i:hover {
  box-shadow: 0 0 10px 0 #ED7A88 inset, 0 0 10px 4px #F2ACC0;
  color: #ED7A88;
}