
/*데탑*/
@media screen and (max-width:1440px) {
  /* roadmap */
  #roadmap .road_area .road_box article {
    border-radius: 54px;
    width: 30%;
  }

  #roadmap .road_area .road_box article .txt_box {
    overflow: scroll;
  }
  
  #roadmap .road_area .road_box article .txt_box::-webkit-scrollbar {
    display: none;
  }
  
  #roadmap .road_area .road_box article:nth-child(2),#roadmap .road_area .road_box article:nth-child(3){
    cursor: url(../img/scrollcursor.png), auto;
  }
}



/*노트북*/
  @media screen and (max-width:1024px) {
    h3 {
      font-size: 30px;}

    /* coin */

    #coin::before {
      width: 100%;
    }

    #coin .coin_area .coin_left {
      display: flex;
      justify-content: flex-end;
  }
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
    br.mob{
      display: block;
    }

    /* intro3 */
    #intro3 .intro3_cont .int3_cont_area .int3_con {
      flex-direction: column;
  }
    #intro3 .intro3_cont .int3_cont_area .int3_con .int3_txt {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    #intro3 .intro3_cont .int3_cont_area .int3_con .int3_txt dl {
      width:48%
    }

    #intro3 .intro3_cont .int3_cont_area .int3_con .int3_img {
      width: 100%;
  }

  /* coin */
  #coin .coin_area {
    flex-direction: column;
  }

  #coin .coin_area .coin_right {
    width: 100%;
    width: 100%;
}

#coin .coin_area .coin_left {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* roadmap */
#roadmap .road_area .road_box {
  flex-direction: column;
}

#roadmap .road_area .road_box article {
  width: 100%;
}
#roadmap .road_area .road_box article:nth-child(2){
  margin: 5% auto;
}

/* contact */

#contact .contact_area .form_area form {
  margin: 0 auto;
  height: auto;
  flex-direction: column;
}

#contact .contact_area form input {
  width: 100%;
}

#contact .contact_area form textarea {
  width: 100%;
  height: auto;
  margin: 3% auto;
}

#contact .contact_area form input.send {
  margin: 0 auto;
  width: 50%;
}

/* footer */
footer h4 {
  font-size: 1.5rem;
}

footer .footer_area {
  flex-direction: column;
  margin-bottom: 5%;
  text-align: center;
}

footer .footer_area ul.inc, footer .footer_area .white_pp, footer .footer_area .sns {
  width: 100%;
  text-align: center;
}


footer .footer_area .white_pp{
  margin: 5% auto;
}
footer .footer_area .white_pp button {
  font-size: 20px;
  padding: 20px 100px;
  margin: 0 auto;
}

footer p {
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
}

footer .footer_area .sns button{
  margin: 0 auto;
}

footer .footer_area .sns i {
  font-size: 5rem;
}

  }
/*모바일*/

@media screen and (max-width:767px) {

}


/*모바일2*/


@media screen and (max-width:576px) {
  /* intro3 */
  #intro3 .intro3_cont .int3_cont_area .int3_con .int3_txt dl {
    width: 100%;
}

/* coin */
#coin::before {
  border-radius: 0px 141px 0px 0px;
}
#roadmap .road_area .road_box article {
  height: 400px;
  font-size: 14px;
}
#coin .coin_area .coin_right article br{
  display: none;
}

#coin .coin_area .coin_left img {
  max-width: 100%;
}

/* footer */

footer .footer_area .sns i {
  font-size: 4rem;
}

}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
